<template name='about'>
        <div class="container">
            <h2>About</h2>
        </div>

        <hr class="divider">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Mario</h2> <p class="text-muted"> CEO</p>
                </div>
                <div class="col-md-4">
                    <h2>Luigi</h2> <p class="text-muted"> COO</p>
                </div>
                <div class="col-md-4">
                    <h2>Princess Peach</h2> <p class="text-muted"> CTO</p>
                </div>
            </div>
        </div>
</template>
